;; shadow-cljs configuration
{:source-paths ["src"]
 :dependencies [[org.clojure/clojurescript "1.10.773"]
                [org.clojure/core.async "1.2.603"]
                [net.cgrand/xforms "0.19.2"]
                [com.wsscode/pathom "2.3.0"]]
 :builds       {:vovo {:target    :node-script
                       :main      vovo.core/main
                       :output-to "scripts/index.js"}}}
